<div class="jumbotron">
    <form id="userSignup">
        <input type="text" name="username" placeholder="Name" />
        <input type="password" name="password" placeholder="Password" />
        <input type="password" name="confirmpassword" placeholder="Confirm password" />
        <input type="submit" id="signup" value="Sign up" />
        <input type="submit" id="signin" value="Sign in" />

    </form>
    <textarea id="showRockbands"></textarea>
</div>
 
<script>
    var signin = function () {
        var tokenUrl = "http://localhost:50170/Token";
        var loginData = $("#userSignup").serialize();
        loginData = loginData + "&grant_type=password";
        $.post(tokenUrl, loginData).always(showRockbands);
        return false;
    };

    $("#signin").click(signin);

    $("#signup").click(register);

    $("#getRockbands").click(getRockbands);

</script>